{% extends 'base/base.html' %}

{% block content %}
    <h1>Список запросов на улучшение</h1>
        <!-- Ссылка на создание нового запроса на улучшение-->
    <p><a href="{% url 'quality_control:create_feature' %}">Добавить запрос на улучшение</a></p>

    <ul>
        {% for feature in feature_list %}
            <li><a href="{% url 'quality_control:feature_id_detail' feature.id %}">{{ feature.title }}</a> - {{ feature.status }} (Priority: {{ feature.priority }})</li>
        {% endfor %}
    </ul>

{% endblock %}